.current {
  color: green;
}

img {
    max-width: 100%;
    height: auto;
}

.split {
  display: flex;
/*  background: #f2f3f4;*/
}

.left {
  padding-top: 10px;
  background-color: #cacfd2;
  width: 200px;
  flex: 0 0 200px;
  text-align: center;
}

.right {
  padding-top: 10px;
  background-color: #f2f3f4;
  flex-grow: 1;
}

@media all and (max-width:400px){
  .split {
    flex-wrap: wrap;
  }
  .left {
    order: 1;
  }
  .right { 
    order: 2;
    min-width: 100%;
  }
}
